@import
    'vendor/reset',
    'vendor/bootstrap';

/// BASE VARS
///----------------
$base-font-size: 16px;
$base-line-height: 24px;

$base-font-family: "PT Sans";
$base-font-family-fallback: sans-serif;
$base-header-font-family: "Gugi";
$header-font-family-fallback: Georgia, serif;
$base-theme-1: #ffeb3b;
$base-theme-2: #f44336;
$base-theme-3: #2196f3;
$base-white: #fff;
$base-text: #444;
$base-text-light: #eee;

/// COLORS
///------------------



// Quick Font Size Mixin

@mixin font-size($font-size, $line-height:true){
    font-size:$font-size;
    font-size:($font-size / $base-font-size)*1rem;
    @if $line-height == true{
      line-height:ceil($font-size / $base-line-height) * ($base-line-height / $font-size);
    }
  }




    * {
        box-sizing: border-box;

    }

    *::before,
    *::after {
        box-sizing: inherit;
    }

    


    body{
        height: 100%;
        background: $base-theme-3;
        font-family: $base-font-family;
        font-weight: 400;
        font-size: 1rem;
        font-style: normal;

    }

    h1, h2, h3, h4, h5 .site-link {
        font-family: $header-font-family-fallback;
        padding: 0.5em;
    
        .wf-active & {
          font-family: $base-header-font-family;
        }
      }
    
      p, label, input, button {
        font-family: $header-font-family-fallback;
        .wf-active & {
          font-family: $base-font-family;
        }
      }
        .app {
            margin: 3em auto;
            max-width: 98%;
            header {
                max-width:95%;
                margin: auto;
            .alpha--header {
                @include font-size(45px, 1);
                color: $base-theme-1;
                font-weight: 800;
                text-shadow: 
                0px 4px 3px rgba(0,0,0,0.4),
                0px 8px 13px rgba(0,0,0,0.1),
                0px 18px 23px rgba(0,0,0,0.1);
                margin-bottom: 0;
                padding-bottom: 0;
                text-transform: capitalize;
            }

            .beta--header {
                @extend .alpha--header;
                @include font-size(22px);
                text-transform: capitalize;
                color: $base-white;
                text-align: left;
                margin-bottom: 1em;
                padding-left:1em;
            }
        }
        }
    
    #jumbo {
        background: $base-theme-1;

        text-align: center;
        min-height: 100%;
    }
    
  
    
    
    button {
     background: $base-theme-2;
     @include font-size(18px);
     font-weight: 600;

     width: 100px;
     height: 60px;
        
    }
    
    #world {
        max-width: 50vw;
    }
    
    /*Second Screen*/
    
    .header {
        color: white;
    
    }
    
    #timer {
        background: $base-theme-2;
        padding: 0.275em;
        color: $base-theme-1;
    }
    
    #quiz {
       background: $base-theme-1;
       padding: 10px;
       max-width: 100%;
       width: 98%;
       
       

        label {
            @include font-size(24px,1);
            font-weight: 800;
            cursor: pointer;
            &:hover {
                background: $base-theme-2;
                color: $base-theme-1;
                
            }
            
        }

         
    }
    h2 {
        text-align: center;
    }
    
    h3{
        text-align: center;
    }
     
     #question {
         color: $base-theme-3;
         
     }
    
     #answ {
         width: 100%;
         height: 100%;
         
     }
    
     label {
          color: $base-theme-3;
         font-size: 25px;
         margin: 10px;
        display: block;

     
     }
    
     #giph {
         vertical-align: middle;
         width: 250px;
         height: 250px;
         margin-left: 465px;
    
     }
    
     #newgame {
         width: 100px;
         height: 60px;
         font-size: inherit;
     }
    
     #trivia {
         background-image: url(../images/map.jpg);
     }
    
    #optionsRadios2 {
        margin: 15px;
        
    }